<html>
    <head>
        <meta charset="utf-8" />
        <title><%-title %></title>
        <style type="text/css">
            
        </style>
    </head>
    <body>
        <form id="s_form" method="get" action="/book_views">
            検索<input type ="text" name="search" id="search"/>
            <script id="submit" type="text/ecmascript">
                var search = document.getElementById("search");
                search.addEventListener('keydown', function (e) {
                    if (e.keyCode == 10) document.getElementById("s_form").submit();
                }, false);
            </script>
        </form>
        <table>
            <%-master_books %>
        </table>
    </body>
</html>