<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    </head>
    <body style="background-color:#0ff">
        <div data-role="header"></div>
        <div data-role="content">
            <form method="post" action="register1">
                <table>
                    <tr>
                        <td>mail</td>
                        <td><input type="text" name="mail"/></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:center"><input type="submit" value="確認メールの送信" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>